body {
    margin: 10px;
    font-family: sans-serif;
    /* background-color: lightgray; */
}

.form-dropdown{
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   background: url(../img/drop_down.png) no-repeat #ffffff;
   background-position: center right;
   border: 1px solid #ccc;
   width: 150px; /* tamanho da caixa */
   margin-bottom: 10px;
   box-sizing: content-box; /* deixa a caixa do mesmo padrão das outras */
}

.form{
    display: block;
    width: 25%;
    height: 32px;
    padding: 3px 6px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    /* background-image: none; */
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form:focus{
    border: 1px solid #ccc;
    border-color: #66afe9;
    border-top-color: rgb(102, 175, 233);
    border-right-color: rgb(102, 175, 233);
    border-bottom-color: rgb(102, 175, 233);
    border-left-color: rgb(102, 175, 233);
    outline: 0;
    outline-color: currentcolor;
    outline-style: none;
    outline-width: 0px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    border-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition-property: border-color, box-shadow, box-shadow;
    transition-duration: 0.15s, 0.15s, 0.15s;
    transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
    transition-delay: 0s, 0s, 0s;
}

.cabecalho {
    background: #373a47;
    box-shadow: 10px 10px 30px 0px rgba(0,0,0,1);
    height: 80px;
}

.cabecalho a {
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px 15px;
}

.cabecalho a:hover{
    color: #fff;
}

/* .cabecalho .botao {
    margin-right: 25px;
} */

.logo img {
    height: 75px;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* mesma cor de fundo do cabecalho */
.btn{
    color: #999;
    background: #373a47;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    background-image: none;
    font-size: 1.2em;
}

/* botão azul */
.btn-blue{
    color: #fff;
    background: #337ab7;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    background-image: none;
    font-size: 1.2em;

}

.btn-blue:hover{
    color: #fff;
    background-color: #286090;
}


.btn-blue:active{
    color: #fff;
    background-color: #122b40;
    background-image: none;
}

/* botão vermelho */
.btn-red{
    color: #fff;
    background: #ec5252;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    background-image: none;
    font-size: 1.2em;

}

.btn-red:hover{
    color: #fff;
    background-color: #992337;
}


.btn-red:active{
    color: #fff;
    background-color: #521822;
    background-image: none;
}

.margem-topo{
    margin-top: 40px;
}

.centro{
    padding: 1% 3%;
}

table {
    border-collapse: collapse;
    width: 100%;
    /* border: 1px solid #666; */
    position: center;
}

thead {
    background: #ccc repeat-x left center;
}

th{
    background: #bbb;
}

tr {
    text-align: center;
}

tr:hover {
    background-color:#66afe9;
    /* color: #fff; */
}

tr:nth-child(even):hover {
    background-color: #66afe9;
}

tr:nth-child(even) {
    background-color: #eee;
}
/* 
.centro {
    margin-top: 30px;
} */

/* flex box */

.cabecalho {
    display: flex;
    align-items: center; /* distribui uniformemente os elementos na linha da pagina*/
    justify-content: space-between; /* espaço entre os elementos */
}

.menu {
    flex-grow: 10; /* a caixa ocupa o espaço do meio */
}

.menu ul {
    display: flex;
    /* justify-content: space-around; distribiu os itens uniformemente na caixa */
}

.lateral {
    display: flex;
    padding-right: 2.5%;
}

.lateral a{
    margin-right: 3%;
}