{% extends "index.html" %}
{% block content %}
<div style="margin-top: 15px;">
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Permissão</th>
                <th>Status</th>
                <th>Último Acesso</th>
                <th>Opções</th>
            </tr>
        </thead>
    <tbody>
        {% for u in users %}
        {% if u.username != current_user.username %}
        <tr>
            <td>{{u.username}}</td>
            <td>{{u.email}}</td>
            <td>{{u.permissions}}</td>
            <td>{{u.status}}</td>
            <td>{{ moment(u.last_seen).format('LL') }}</td>
            <td>
                <a href="{{ url_for('delete_myuser', myuser=u.username) }}">Deletar</a>
            </td>
            <td>
                <a href="{{ url_for('edit_user', user=u.username) }}">Editar</a>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
    </table>
</div>
{% endblock %}