{% extends "index.html" %}
{% block content %}
<h1>Cadastrados</h1>
  {% if size != 0 %}
  <table class="table table-hover">
  <thead>
    <tr>
      <th style="text-align: center">Nome</th>
      <th style="text-align: center">Idade</th>
      <th style="text-align: center">Peso</th>
      <th style="text-align: center">Prioridade</th>
      <th style="text-align: center">Opções</th>
    </tr>
  </thead>
  {% for coisa in coisas%}
  <tr>
    <td>{{coisa.name}}</td>
    <td>{{coisa.age}}</td>
    <td>{{coisa.weight}}</td>
    <td>{{coisa.priority}}</td>
    <td>
        {% if current_user.permissions == 'update' or 'crud' %}
            <a href="{{ url_for('update',cid=coisa.id ,name=coisa.name) }}">Atualizar</a>
        {% else %}
            Atualizar
        {% endif %}
        {% if current_user.permissions == 'delete' or 'crud' %}
            <a href="{{ url_for('delete',cid=coisa.id ,name=coisa.name) }}">Deletar</a>
        {% else %}
            Deletar
        {% endif %}
    </td>
  </tr>
{% endfor %}
  </table>
  {% else %}
  <div>
    Não há registro
  </div>
  {% endif %}
</div>
</div>
{% endblock %}
