{% extends "index.html" %}
{% block content %}
<div>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Senha</th>
                <th>Último Acesso</th>
                <th>Permissão</th>
                <th>Status</th>
                <th>Opções</th>
            </tr>
        </thead>
    <tbody>
        {% for u in users %}
        <tr>
            <td>{{u.username}}</td>
            <td>{{u.email}}</td>
            <td>{{ moment(u.last_seen).format('LL') }}</td>
            <td>{{u.permissions}}</td>
            <td>{{u.status}}</td>
            <td>
                <a href="{{ url_for('delete_myuser', myuser=u.username) }}">Deletar</a>
                {% if u.status == 'ativo' %}
                <a href="{{ url_for('bloq', user=u.username, status='bloqueado') }}"> Bloquear</a>
                {% else %}
                <a href="{{ url_for('bloq', user=u.username, status='ativo') }}"> Ativar</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>
{% endblock %}